@model IEnumerable<OnlineClothStore.Models.Order>

@{
    ViewBag.Title = "OrdersByVendorId";
}
<br /><br /><br />
<h4 id="signtitle">Your Orders</h4>
<table class="table">
    <tr>
        <th>
            Customer ID
        </th>
        <th>
            Product ID
        </th>
        <th>
            Ordered Quantity
        </th>
        <th>
            Order Status
        </th>
        <th>
            Order Date
        </th>
        <th>
            Order Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
    </tr>
}

</table>
