@model IEnumerable<OnlineClothStore.Models.Product>

@{
    ViewBag.Title = "ProductsbyVendorId";
}

<h2 id="signtitle">Your Products</h2>

<p>
    @Html.ActionLink("Create New Product", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>*@
        <th>
            Product Quantity
        </th>
        <th>
            Product Cost
        </th>
        <th>
            Preview
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.VendorId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <img src="@Url.Content(item.ProductImage)" alt="Image not found" width="200" height="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
